@import "src/assets/styles/variables";

.main-toolbar {
  height: 100%;
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .options {
    color: blue;
    background-color: $header-color;
  }

  .page-name {
    color: blue;
    padding-left: 2vw;
  }
}

