<div class="chart-page-container">
  <div class="chart-controls-container">

    <div class="left-side-container">
      <div class="symbol-selection-container">
        <div>
          <input type="text" [formControl]="symbolControl" class="symbol-select-input"
                 [placeholder]="selectedSymbol ? '' : 'Pick symbol'" [matTooltip]="selectedSymbol?.symbol"
                 [matAutocomplete]="symbolsAuto" [value]="selectedSymbol?.name">
          <mat-autocomplete #symbolsAuto="matAutocomplete" [displayWith]="displayFn"
                            (opened)="symbolSelected2(true)"
                            (optionSelected)="symbolSelected($event)">
            <mat-option *ngFor="let symbolRecord of filteredSymbolsOptions | async"
                        [value]="symbolRecord">
              {{symbolRecord.symbol}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div style="max-width: 60%" [matTooltip]="selectedSymbol?.name">
          {{ selectedSymbol ? selectedSymbol.name : ''}}
        </div>

      </div>

      <div class="charts-parameters-container" *ngIf="this.dataArray?.length > 0">

        <div class="till-date-container">
          <div>Till date :</div>
          <div class="end-date-display" (click)="picker.open()">
            {{ endDate ? (endDate | date : 'MM/yy') : '...' }}
          </div>
          <mat-form-field class="end-date-from-field">
            <input matInput [matDatepicker]="picker" readonly="true"
                   [(ngModel)]="endDate" (ngModelChange)="pickMonth($event)"
                   [min]="minDate" [max]="maxDate" [placeholder]="endDate ? '' :'Choose end date'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"
                            (monthSelected)="pickMonth($event);picker.close()">
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="record-count-container">
          <div>Records count :</div>
          <mat-form-field>
            <mat-select [(value)]="itemsCount4Display" (selectionChange)="onItemsCount4DisplayChange($event)">
              <mat-option *ngFor="let itemsCount of itemsCount4DisplayOptions" [value]="itemsCount">
                {{ itemsCount}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="right-side-container">
      <div class="threshold-container" *ngIf="this.dataArray?.length > 0">
        <span>Threshold</span>
        <mat-checkbox [(ngModel)]="displayThreshold"
                      (ngModelChange)="displayThresholdChanged($event)">
          Display
        </mat-checkbox>
        <input type="number" class="threshold-input" [(ngModel)]="threshold"
               *ngIf="displayThreshold"
               [min]="minValue" [max]="maxValue" (ngModelChange)="thresholdChanged($event)">
      </div>

    </div>


  </div>

  <div class="chart-container">
    <div class="no-data-container" *ngIf="!this.dataArray|| this.dataArray?.length === 0">
      <div>NO DATA - PLEASE PICK A SYMBOL</div>
    </div>
    <canvas baseChart *ngIf="this.dataArray?.length > 0"
            [datasets]="chartsProperties.lineChartData"
            [labels]="chartsProperties.lineChartLabels"
            [options]="chartsProperties.lineChartOptions"
            [colors]="chartsProperties.lineChartColors"
            [legend]="chartsProperties.lineChartLegend"
            [chartType]="chartsProperties.lineChartType"
            [plugins]="chartsProperties.lineChartPlugins">
    </canvas>
  </div>
</div>
