@import "src/assets/styles/variables";

.main-toolbar {
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
}

.main-display {
  height: 92vh;
}

.options {
  color: blue;
  background-color: $header-color;
}
